.organization-details {
  position: relative; /* Make this container relatively positioned */
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 3%;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color:  rgba(255, 255, 255, 0.1);
}

.back-arroww {
  font-size: 18px;
  padding-right: 5px;
  /* padding-top: 50px; */
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.back-arroww:hover {
  color: #555;
}


.heading {
  margin-top: 0;
  margin-bottom: 20px;
}

.info-item {
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
}

.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.accept-button, .reject-button, .download-button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.accept-button {
  background-color: #4caf50;
  color: white;
}

.reject-button {
  background-color: #f44336;
  color: white;
}

.download-button {
  background-color: #ffffff; 
  color: rgb(0, 0, 0);
}
.download2-button {
  background-color: #ffffff;
  margin-top: 0px;
  color: rgb(0, 0, 0);
  padding: 10px 10px;
  /* margin-right: 10px; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download2-button:hover{
  background-color: #555; 
}

.status {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.accepted {
  background-color: #4caf50;
  color: white;
}

.rejected {
  background-color: #f44336;
  color: white;
}

/* Position the download button */
.download-button {
  position: absolute;
  /* padding-left: 7px;
  padding-right: 7px; */
  top: 20px; /* Adjust this value to position the button vertically */
  right: 10px; /* Adjust this value to position the button horizontally */
  transition: background-color 0.3s ease;
}

.download-button:hover{
  background-color: #555; 
}


.organization-select {
  margin-top: 10px;
  margin-right: 10px;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}

.organization-select:focus {
  outline: none;
  border-color: #008CBA;
}

.confirm-button {
  padding: 5px 5px;
  margin-top: 10px;
  width: 40%;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.confirm-button:hover {
  background-color: #555; 
}

.confirm-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}