.organizations-list-container {
  max-width: 90%;
  margin: 0 auto;
  margin-top: 60px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
}

.organizations-list-heading {
  font-size: 35px;
  margin-bottom: 50px;
}

.accept-button {
  background-color: #5cb85c;
  color: white;
}

.reject-button {
  background-color: #d9534f;
  color: white;
}
.accept-button, .reject-button {
  padding: 8px 16px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  height: 50px;
  width: 200px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accept-button:hover, .reject-button:hover {
  background-color: #8a8a8a; /* Adjust hover background color */
}

.organizations-table {
  width: 100%;
  border-collapse: collapse;
}

.view-details-button {
  color: #76b6fc;
}
.back-arrow {
  font-size: 24px;
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.back-arrow:hover {
  color: #555;
}

.organizations-table th,
.organizations-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.organizations-table th {
  background-color: #727272;
  font-weight: bold;
}
