.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup {
    background-color: #222;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .close-details-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #aaa;
    float: right;
  }
  
  .close-details-button:hover {
    color: #fff;
  }
  