.dashboard {
    background-color: #333; /* Dark gray background */
    color: #fff; /* White text */
    padding: 20px;
    width: auto; /* Set width to auto */
    margin: auto;
    margin-left: 20px;
    text-align: center;
    border-radius: 8px;
  }
  
  .dashboard h1 {
    margin: 0 auto 20px;
  }
  
  .dashboard-options {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
  }
  
  .dashboard-option {
    width: calc(25% - 10px); /* Four items per row with some margin */
    padding: 20px;
    margin-right: 10px; /* Add some right margin */
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dashboard-option:hover {
    background-color: #555; /* Darker gray on hover */
  }
  
  .medical-supplies {
    background-color: #4CAF50; /* Green */
  }
  
  .medication {
    background-color: #FFC107; /* Yellow */
  }
  
  .blood-donation {
    background-color: #F44336; /* Red */
  }
  
  .doctor-visit {
    background-color: #2196F3; /* Blue */
  }
  