.medical-supplies-component {
    background-color: #f5f5f5; /* Light gray background */
    color: #333; /* Dark text color */
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
  }
  
  .medical-supplies-component h1 {
    margin-bottom: 20px;
  }
  
  .filter-options select {
    padding: 10px;
    border-radius: 5px;
  }
  
  .medical-supplies-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .medical-supplies-item {
    background-color: #fff; /* White background for each item */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Box shadow for each item */
  }
  
  .medical-supplies-item h2 {
    margin-bottom: 10px;
  }
  
  .medical-supplies-details {
    background-color: #fff; /* White background for details */
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Box shadow for details */
  }
  
  .medical-supplies-details h2 {
    margin-bottom: 10px;
  }
  
  .medical-supplies-details img {
    max-width: 100%; /* Ensure image doesn't exceed container width */
    border-radius: 8px; /* Rounded corners for image */
  }

.medical-supplies-component {
    background-color: #333; /* Dark gray background */
    color: #fff; /* White text */
  }
  
  .medical-supplies-component h1 {
    color: #fff; /* White text */
  }
  
  .filter-options select {
    background-color: #555; /* Darker gray for dropdown background */
    color: #fff; /* White text */
  }
  
  .medical-supplies-item {
    background-color: #444; /* Dark gray background for each item */
    color: #fff; /* White text */
  }
  
  .medical-supplies-details {
    background-color: #444; /* Dark gray background for details */
    color: #fff; /* White text */

  }
  .medsupimage{
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 20px;
  }
  .close-details-buttonSup {
    /* position: absolute; */
    background: none;
    background-color: #000;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    float: right;
}
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Optional: align items horizontally */
}