.time-slot {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #000000;
    transition: background-color 0.3s ease-in-out;
  }
  
  
  .time-slot:hover {
    background-color: gray;
  }
  
  .time-slot.selected {
    background-color: gray;
  }
  
  .time-slot {
    margin-right: 20px;
  }

  .schedule-picker-container {
    display: flex;
    flex-direction: row; /* Align items horizontally */
    justify-content: space-between; /* Space items evenly */
    gap: 20px; /* Add spacing between items */
  }

  .time-slots-container {
    display: flex;
    flex-direction: column; /* Align time slots vertically */
    justify-content: space-between; /* Space items evenly */
  }
