.filter-select{
  background-color: #fff; /* Darker background color */
  color: #333; /* Light text color for contrast */

}


.listContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.donor-info {
  padding: 10px;
  margin-top: 20px;
  background-color: #444; /* Darker background color */
  color: #fff; /* Light text color for contrast */
}

.request-info {
  padding: 10px;
  background-color: #444; /* Darker background color */
  color: #fff; /* Light text color for contrast */
}

.MuiIconButton-root.MuiButtonBase-root.icon-button {
  border-radius: 5px;
  background-color: #fff; /* Darker background color */
  color: #333; /* Light text color for contrast */
}

.MuiButtonBase-root:hover {
  background-color: gray; /* Darker hover color */
  border-radius: 5px;
}