/* .posts-container {
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
    margin: 200px;
  }
  
  .filter-dropdown {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .posts-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    align-items: stretch
  }
  
  .posts-grid > div {
    flex-basis: calc(50% - 10px);
  } */

.containerRoot {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  background-color: gray;
  padding: 20px;
}

@media (max-width: 768px) {
  .containerRoot {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.listContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.donor-info {
  padding: 10px;
  margin-top: 20px;
}

.request-info {
  padding: 10px;
}